<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Horror Movies</title>
</head>
<body>
<h1>Horror Movies</h1>
<!-- search form -->
<form action="/search" method="GET">
    <input type="text" name="query" placeholder="Search a movie..." required>
    <button type="submit">Search</button>
</form>
<ul>
    <li th:each="movie : ${movies}">
        <h2 th:text="${movie['title']}"></h2>
        <img th:src="'https://image.tmdb.org/t/p/w500/' + ${movie['poster_path']}" alt="Movie Poster">
    </li>
</ul>

<p th:if="${movies.size() == 0}">No results found for your search</p>
</body>
</html>
